/*Animações*/
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left {
  from{
    transform: translateX(100%);
  }

  to{
    transform: translate(0);
  }
}

@keyframes appear {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.initials,
.nameLine,
.teamLine,
.actionsCircle {
  background-color: #ededed;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .99) 50%,
    rgba(255, 255, 255, 0) 60%
  ) #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1.3s loading ease-in-out infinite;
}

.animate-up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

.animate-left{
  animation-name: left;
  animation-duration: 300ms;
}

.animate-appear{
  animation-name: appear;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}